* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --background-color: rgb(38, 40, 44);
    --primary-color: rgb(226, 250, 222);
    --secondary-color: rgb(172, 196, 243);
    --accent-color: rgb(40, 200, 200);
}

body {
    height: 100vh;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Verdana, Arial, Helvetica, sans-serif, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: larger;
    letter-spacing: 0.05ch;
}

.hidden {
    display: none;
}

header {
    padding: 0.5vw 0.25vw;
    text-align: center;
    border-bottom: 2px solid rgba(172, 196, 243, 0.025);
    display: flex;
    justify-content: space-between;
    align-items: center;    

}

nav {
    padding: 0;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 1vw;
    list-style: none;
    margin: 0 1rem;
    padding: 1rem;
}

header li {
    cursor: pointer;
    transition: all 30ms ease-out; 
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

header li:hover {
    color: var(--accent-color);
    translate: 0 -0.25rem;
}

.logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

.logo {
    height: 72px;
    margin-left: 0.1rem;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

h1 {
   
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#session-control {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 1vw;
}

#exercise-display {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column  ;
}

#exercise-welcome-msg {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

#exercise-display button {
    margin: 0.5rem 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1vh 1vw;
    border-radius: 1vh;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border-color: var(--accent-color);
    cursor: pointer;
}

#exercise-details > .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    flex-direction: column;
}

#exercise-details > .outer-container > .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
}

#answer-input {
    width: 8ch;
    padding: 0.5rem;
    text-align: right;
    font-size: 2rem;
}
    
.buttons {
    margin: 1.5rem 2rem;
}

.button {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: 800;
    font-size: larger;
    cursor: pointer;
    transition: all 30ms ease-out; 
}

.button:hover {
    border: 2px solid var(--accent-color);
}

.button:active {
    translate: 0 0.3rem;
}

.accent {
    color: var(--accent-color);
}

.secondary {
    color: var(--secondary-color);
}

input {
    font-size: 1.2rem;
}

fieldset {
    margin-bottom: 1rem;
    padding: 0.75rem 1rem 1.25rem 1rem;
    column-gap: 1rem;
    row-gap: 0.5rem;
    border-radius: 8px;
    background-color: rgba(50,50,70, 0.75);
    
}

#settings-section fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

fieldset > legend {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 0.2rem 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;
    
}

.text-settings {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 1rem;
    margin-right: 0.5rem;
}

#exercise-settings > label {
    grid-column: 1/2;
}

#base input {
    grid-column: 2/3;
    padding: 4px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}