* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --background-color: rgb(38, 40, 44);
    --primary-color: rgb(226, 250, 222);
    --secondary-color: rgb(172, 196, 243);
    --accent-color: rgb(40,200,200);
}

body {
    height: 100vh;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Verdana, Arial, Helvetica, sans-serif, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: larger;
    letter-spacing: 0.05ch;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.buttons {
    margin: 1.5rem 2rem;
}

.button {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: 800;
    font-size: larger;
    cursor: pointer;
    transition: all 30ms ease-out; 
}

.button:hover {
    border: 2px solid var(--accent-color);
}

.button:active {
    translate: 0 0.3rem;
}

.accent {
    color: var(--accent-color);
}

.secondary {
    color: var(--secondary-color);
}

fieldset {
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem 1rem 0.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    
}

fieldset > legend {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 0.2rem;
}

#base > label {
    grid-column: 1/2;
}

#base > input {
    grid-column: 2/3;
    font-size: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}